:root {
    --cor-fundo: black; 
    --cor-pincipal: rgb(128, 0, 128);
    --cor-secundaria: #ca18ca;
    --cor-destaque:white;
    --cor-texto:rgb(6, 5, 6);
}


body {
    background-color: var(--cor-fundo);
    color: var(--cor-destaque)
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.caixa-principal{
    background-color: var(--cor-pincipal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    background-color: var(--cor-destaque);
}